body {
  background-color: #dcbb9a;
  color: #000000; }

#content {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  background-color: #ffffff; }

h1,
h2 {
  color: #893c00; }

h1 {
  margin-top: 8px;
  text-align: center;
  text-transform: none; }

p {
  margin: 5px 0; }
  p + a {
    display: inline-block;
    margin-top: 20px; }

a {
  color: #3d70a1; }

img {
  border: 2px solid #893c00;
  padding: 2px; }

.img-left {
  float: left;
  margin-right: 20px; }

.img-right {
  float: right;
  margin-left: 20px; }

.brief {
  float: left;
  width: 385px;
  margin: 0 20px 0 0;
  box-sizing: content-box;
  padding: 25px 20px;
  color: #000000;
  background-color: #fadcba; }

caption {
  text-align: right; }

table {
  border-collapse: collapse;
  margin-bottom: 60px; }

th {
  background-color: #e0e0e0;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  padding: 10px 10px 10px 20px; }
  th:not(:last-child) {
    border-right: 1px solid white; }

td {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff; }

form,
label,
input,
textarea {
  box-sizing: border-box; }

input,
textarea {
  margin: 10px 0 15px;
  padding: 5px; }

.name-field label,
.name-field input {
  float: left;
  width: 49.7%; }

label {
  text-transform: uppercase;
  color: #808080; }

label[for="label-surname"],
#label-surname {
  margin-left: 5px; }

form > label {
  display: inline-block;
  width: 100%; }

form > input[type="text"],
input[type="email"],
textarea {
  width: 100%; }

input[type="submit"] {
  width: 240px;
  padding: 10px;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid #3d70a1;
  color: #3d70a1;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer; }
