html,
body,
div,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: auto;
}

header {
  width: 100%;
  min-height: 740px;
  background-image: url(../img/apples.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.nav-bar a,
.brand {
  color: #ffffff;
}

.nav-bar {
  padding: 45px 0 5px;
  font-size: 14px;
}

.logo {
  float: left;
}

.logo a {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-nav {
  float: right;
}

.main-nav li {
  display: inline-block;
  margin: 0 30px;
}

.main-nav a {
  display: inline-block;
  padding: 0 10px 15px;
  border-bottom: 1px solid transparent;
}

.main-nav a:hover {
  border-bottom: 1px solid #ffffff;
}

.brand {
  margin-top: 200px;
  text-align: center;
}

.brand h1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 38px;
}

.symbol {
  font-size: 70px;
}

.brand h1 {
  position: relative;
}

sup {
  font-size: 10px;
  text-transform: none;
  letter-spacing: 1px;
  position: absolute;
  display: inline-block;
  top: 43px;
}

header button {
  padding: 20px 75px;
  margin: 180px auto 0;
  font-size: 15px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

header button:hover {
  background: rgba(0, 0, 0, 0);
}

.article-block {
  margin: 140px 0;
}

.text-block-item {
  float: left;
  width: 46%;
}

.text-block-item:first-child {
  padding-right: 2%;
  font-size: 18px;
}

strong {
  font-weight: bold;
}

.text-block-item:last-child {
  padding-left: 2%;
  font-size: 14px;
  float: right;
  text-align: justify;
  text-justify: inter-word;
}

.featured-articles-block {
  padding-bottom: 125px;
  background-color: #f3f3f3;
}

.featured-articles-block h2 {
  text-align: center;
  padding: 150px 0 90px;
}

.image-block-item {
  float: left;
  padding: 15px;
  position: relative;
}

.row .image-block-item:first-child {
  padding-left: 0;
}

.row .image-block-item:last-child {
  padding-right: 0;
}

.image-block {
  padding-bottom: 50px;
}

.image-block img {
  width: 100%;
  max-height: 295px;
  padding: 0;
}

.featured-articles-block .text {
  position: absolute;
  bottom: 55px;
  left: 30px;
  color: #ffffff;
}

.featured-articles-block .button-like {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
}

.featured-articles-block .button-like:hover {
  background-color: #ffffff;
}

.subscribe-block {
  padding: 50px 0;
  background-color: #ffffff;
}

.subscribe-title {
  text-align: right;
  padding: 7px 45px 7px 0;
  font-size: 20px;
}

form input {
  width: 60%;
  padding: 10px 15px;
  background: #f3f3f3;
}

.subscribe-block input::placeholder {
  color: #000;
}

form input,
form button {
  float: left;
  border: 1px solid #000;
  font-size: 14px;
}

form button {
  display: inline-block;
  width: 25%;
  border: none;
  padding: 11px 15px;
  background: #000;
  opacity: 0.8;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #9e9e9e;
  color: #000;
}

.contact-block {
  margin: 100px 0;
}

.contact-block h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

.contact-block p,
.contact-block q {
  color: #9e9e9e;
  text-align: justify;
  font-size: 14px;
}

.contact-details p,
.contact-address p,
.contact-news q,
.contact-message p.time,
.contact-news p {
  line-height: 2;
}

.contact-message p.time {
  display: block;
  color: #e8e8e8;
}

.contact-details,
.contact-address,
.contact-message,
.contact-news {
  padding: 0 40px;
}

.contact-details {
  padding-left: 0;
}

.contact-news {
  padding-right: 0;
}

.contact-news .subscribe-form {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.contact-news form input {
  width: 60%;
  padding: 10px 15px;
  background: #f3f3f3;
  font-size: 14px;
}

.contact-news form input::placeholder {
  color: #a4a4a4;
  font-style: italic;
}

.contact-news form button {
  width: 40%;
  font-size: 14px;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #9e9e9e;
  border-top: 2px solid #f0f0f0;
}

footer p {
  float: left;
}

footer nav {
  float: right;
}

footer nav li {
  display: inline-block;
  margin: 0 5px;
}

footer nav li:last-child {
  margin-right: 0;
}

footer nav a {
  display: inline-block;
  padding-right: 15px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}

footer nav a:hover {
  color: #9e9e9e;
}
