$color-background_content: #ffffff;
$color_font: #000000;
$color_brief: #000000;
$color-background_body: #dcbb9a;
$color_primary: #893c00;
$color-background_brief: #fadcba;
$color_table: #e0e0e0;
$color_cell: #ffffff;
$color_link: #3d70a1;
$color_label: #808080;

$brief_float: left;
$brief_width: 385px;
$brief_margin: 0 20px 0 0;
$brief_box-sizing: content-box;
$text-transform_heading: none;
