$color-background_content: #3b3b3b;
$color_font: #ffffff;
$color_brief: #000000;
$color-background_body: rgba(198, 238, 252, 0.53);
$color_primary: #fccd10;
$color-background_brief: #fff178;;
$color_table: #94a34e;
$color_cell: #677d01;
$color_link: #f5c70f;
$color_label: #f5c70f;

$brief_float: none;
$brief_width: 100%;
$brief_margin: 0 0 40px 0;
$brief_box-sizing: border-box;
$text-transform_heading: uppercase;
